.b-banners { position:relative; height:382px; background-color:#FFF; }
.b-banners .e-banner { display:block;  position:absolute; top:16px; left:16px;    }
.b-banners .e-banner:nth-child(n+2) { display:none; }
.b-banners .e-banner img { margin:0; padding:0; }